[submodule "external/uWebSockets"]
	path = external/uWebSockets
	url = https://github.com/cosmicpsyop/uWebSockets.git
[submodule "external/hoytech-cpp"]
	path = external/hoytech-cpp
	url = https://github.com/hoytech/hoytech-cpp.git
[submodule "external/config"]
	path = external/config
	url = https://github.com/taocpp/config.git
[submodule "external/rasgueadb"]
	path = external/rasgueadb
	url = https://github.com/hoytech/rasgueadb.git
[submodule "external/lmdbxx"]
	path = external/lmdbxx
	url = https://github.com/hoytech/lmdbxx.git
[submodule "external/docopt.cpp"]
	path = external/docopt.cpp
	url = https://github.com/docopt/docopt.cpp.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/taocpp/json.git
[submodule "external/PEGTL"]
	path = external/PEGTL
	url = https://github.com/taocpp/PEGTL.git
[submodule "external/loguru"]
	path = external/loguru
	url = https://github.com/emilk/loguru.git
[submodule "external/parallel-hashmap"]
	path = external/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "external/templar"]
	path = external/templar
	url = https://github.com/hoytech/templar.git
